<div class="download-frame">
  <div class="download-content">
      <span class="launch-date">Avilable from the 18th of July</span>
      <span class="launch-CTA">Do not miss Astute's app launch</span>
      <span class="launch-copy">
        Avilable where you get all of your faviorite mobile applications.
      </span>
      <span class="launch-buttonRow">
          <img src="../../../assets/buttons/App Store.png" alt="" class="download-button">
          <img src="../../../assets/buttons/Google Play.png" alt="" class="download-button">
      </span>
  </div>
</div>