<div class="footerContainer">
    <span class="footerContainer-content">

        <span class="footer-logo">
            astute
        </span>
        <!--astute links-->
        <span class="column-rows">
            <span class="footerContainer-column">
                <a routerLink="/about-us" class="footer-links">About us</a>
                <a href="https://astute-money.notion.site/Careers-9d69676dc94943fb96313c594796517a" class="footer-links"
                    target="_blank">Careers</a>
                <a href="/about-us" class="footer-links">Blogs</a>
                <a href="/about-us" class="footer-links">Community</a>
                <a href="/about-us" class="footer-links">Roadmap</a>
            </span>

            <!--product-->
            <span class="footerContainer-column">
                <span class="footer-heading">
                    Products
                </span>

                <a href="" class="footer-links"> Astute | Make Keep Grow Your Money</a>
                <a href="" class="footer-links">Astute web| Should I Invest

                    <br class="mobile-breakpoint" />In...

                    We have the answer →</a>

                <span class="coming-soon-tagContainer">
                    <span class="tag">coming</span>
                    <span>
                        <a routerLink="/about-us" class="footer-links-CS">astute.crypto |Make Keep <br
                                class="mobile-breakpoint" />
                            Grow your Crpto →</a>

                    </span>
                </span>
            </span>


            <!--legals-->
            <span class="footerContainer-column">
                <span class="footer-heading">
                    Legals
                </span>

                <a href="https://astute-money.notion.site/Astute-Legal-Policies-3bb04897513a42c3a75d6dd16e527e76"
                    class="footer-links" target="_blank"> Privacy Policy</a>
                <a href="https://astute-money.notion.site/Astute-Legal-Policies-3bb04897513a42c3a75d6dd16e527e76"
                    class="footer-links" target="_blank">Terms and Conditions</a>

                <a href="https://astute-money.notion.site/Astute-Legal-Policies-3bb04897513a42c3a75d6dd16e527e76"
                    target="_blank" class="footer-links">Disclaimer</a>

            </span>


        </span>

    </span>
</div>