@use '../../../../styles/general/' as general;


.mobile-framework{
    width: 414px;
    background-color: general.$nude;
    border: 1px solid general.$black;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 25px;
    height: 896px;
    flex-direction: column;

}

.sign-bar_icon{
    width: 376.5px;
    height: 22px;
    object-fit: contain;
    margin-top: 21px; 
}

.content-box{
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    width: 366px;
    height: 645px;
}

.mobile-navigation_box{
    margin-top: 57px;
    width: 100%;
    height: 102px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid general.$black;
    align-content: center;
    align-items: center;
}

@media (max-width: general.$tablet) {
    .mobile-framework{
        width: 405.71px;
         height: 878px;

    }



.content-box{
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    width: 355px;
    height: 625px;
}

.mobile-navigation_box{
    margin-top: 56.05px;
    height: 100px;

}


}

@media (max-width: general.$mobile) {
    

    .content-box{
        width: 273.09px;
        height: 591px;
    }
    
    .mobile-navigation_box{
        margin-top: 56.05px;
        height: 68px;
    
    }
}