<div class="mobile-framework">

    <span class="sign-bar">
        <img src="../../../assets/icons/signa_bar.svg" alt="" class="sign-bar_icon">
    </span>

    <span class="content-box">
        content
    </span>

    <span class="mobile-navigation_box">
        <a routerLink="/make"  class="mobile-link" routerLinkActive="make-mActive"> <span>Make</span></a>
        <a routerLink="/keep" class="mobile-link" routerLinkActive="keep-mActive"> <span >Keep</span></a>
        <a routerLink="/grow" class="mobile-link"  routerLinkActive="grow-mActive" > <span >Grow</span></a>
        <a routerLink="/" class="mobile-link" routerLinkActive="home-mActive" [routerLinkActiveOptions]="{exact:
            true}"> <span>Your Money</span></a>
    
    
    </span>
   
</div>
