<div class="screen-content-Container">
    <div class="heading keep">
        Pay yourself first
    </div>

    <div class="screen-copy bold">
        We help you keep your money by helping you manage
        <span class="screen-copy--underlined regular">
            your savings
        </span>
         and 
         <span class="screen-copy--underlined regular">
            your debts
         </span>
         . We are also on the way of helping you do the same for your insurance policies.  
    </div>

    <div class="tab-Container">
        <button *ngIf="savingsOpen" class="activeTab" (click)="toggleSaveOpen()">Savings</button>
        <button *ngIf="savingsClose" class="nonActiveTab" (click)="toggleSaveClose()">Savings</button>
        
        <button *ngIf="debtOpen" class="activeTab" (click)="toggleDebtOpen()">
            Debt
        </button>
        <button *ngIf="debtClose" class="nonActiveTab" (click)="toggleDebtClose()">
            Debt
        </button>
    </div>

    <div *ngIf='savingsOpen' class="savings-content">
        save
    </div>

    <div  *ngIf='debtOpen' class="savings-content">
        debt
    </div>
</div>
