<div class="screen-content-Container">
    <div class="heading keep">
        Pay yourself first
    </div>

    <div class="screen-copy bold">
        We help you keep your money by helping you manage
        <span class="screen-copy--underlined regular">
            your savings
        </span>
         and 
         <span class="screen-copy--underlined regular">
            your debts
         </span>
         . We are also on the way of helping you do the same for your insurance policies.  
    </div>

    <div class="tab-Container">
        <span class="activeTab">Savings</span>
        <span class="nonActiveTab">
            Debt
        </span>
    </div>
</div>
