<div class="screen-content-Container">

    <div class="heading">
        Hello Financially Astute User
    </div>

    <div class="default-label">
        With our mobile application,Wavy, you have been able to:
    </div>

    <!--the savings container-->
    <div class="label-Container">
        <span class="default-label">
            Increase your savings
        </span>

        <span class="content-copy_Container">

            <span class="content-copy_internalContainer">
                <span class="small-label">
                    How?
                </span>
                <span class="screen-copy">
                    Wavy helps you create
                    <span class="screen-copy--underlined">
                        an actionable
                    </span>
                    &nbsp;saving plan that works with your current financial position.
                </span>
            </span>

        </span>


    </div>

    <!--the debt container-->
    <div class="label-Container">
        <span class="default-label">
            Reduce your debt
        </span>

        <span class="content-copy_Container">

            <span class="content-copy_internalContainer">
                <span class="small-label">
                    How?
                </span>
                <span class="screen-copy">

                    <span class="screen-copy--underlined">
                        Snowball effect.
                    </span>
                    &nbsp;We give you a custom plan to pay off your most expensive debt as soon as possible.
                </span>
            </span>

        </span>


    </div>

    <!--the investments container-->
    <div class="label-Container">
        <span class="default-label">
            Build an investment portfolio
        </span>

        <span class="content-copy_Container">

            <span class="content-copy_internalContainer">
                <span class="small-label">
                    How?
                </span>
                <span class="screen-copy">
                    We filtre through the thousands of investable assets and show you the investments that are best&nbsp; 
                    <span class="screen-copy--underlined">
                        aligned with your financial goals.
                    </span>

                </span>
            </span>

        </span>


    </div>



    <!--the users new financial status-->

    <div class="label-Container">
        <span class="small-label">
            Your new financial status
        </span>
        <span class="status_box">
            <span class="default-label">
                Financially Free
            </span>
        </span>

    </div>
</div>