<div class="full-page">
    <div class="page-layout">

        <div class="page-column">

            <div class="copy-container">
                <span class="tag-content make">
                    More money More freedom
                </span>
                <span class="page-copy">
                 With Wavy we will give you a plan to increase your income.
                </span>
                <span class="page-copy">
                 If it is through a promotion at work, scaling your side hustles, growin your business or creating and additional streams of income
                </span>

                <span class="page-copy-emphasised">
                 We will create the plans that works best for your 
                    
                    <span class="make">
                       to make more money.
                    </span>
                    
   
                </span>
            </div>

     
            <div class="show-d-t"><app-download-box></app-download-box
                
                
                >
            
                             <!--links-->
                             <span class="content-container">
                                <span class="tag-content">
                                    Join our community, we want to hear from you
                                </span>
            
                                <span class="community-row">
            <img src="../../../assets/social-icons/discord-v2 2.png" alt="discord button" class="social-icon">
            
            <span class="page-copy">
                Let’s chat directly on discord <span >
                    <a href="https://discord.gg/jXWDZEyAbF" target="_blank" class="com-link make"> &nbsp;Join our discord channel</a>
                </span>
            
                
            </span>
                                </span>
            
            
                                <span class="community-row">
                                    <img src="../../../assets/social-icons/spotify-512 2.png" alt="discord button" class="social-icon">
                                    
                                    <span class="page-copy">
                                        Our weekly podcast on 
                                        personal finance <span >
                                            <a routerLink="/about-us" class="com-link make"> &nbsp;Join our conversation</a>
                                        </span>
                                    
                                        
                                    </span>
                                                        </span>
            
            
            
                            </span>
            
            </div>

        </div>

        <div class="screen-column">

            <app-mobile-screen></app-mobile-screen>
            <div class="show-m"><app-download-box></app-download-box>
             <!--links-->
             <span class="content-container">
                <span class="tag-content">
                    Join our community, we want to hear from you
                </span>

                <span class="community-row">
<img src="../../../assets/social-icons/discord-v2 2.png" alt="discord button" class="social-icon">

<span class="page-copy">
Let’s chat directly on discord <span >
    <a href="https://discord.gg/jXWDZEyAbF" target="_blank" class="com-link make"> &nbsp;Join our discord channel</a>
</span>


</span>
                </span>


                <span class="community-row">
                    <img src="../../../assets/social-icons/spotify-512 2.png" alt="discord button" class="social-icon">
                    
                    <span class="page-copy">
                        Our weekly podcast on 
                        personal finance <span >
                            <a routerLink="/about-us" class="com-link make"> &nbsp;Join our conversation</a>
                        </span>
                    
                        
                    </span>
                                        </span>



            </span>
            
            </div>
        </div>

    </div>
    
</div>
