<div class="updatebar">
    <div class="updatebar_content">
        <span class="update_heading">
            We are back and excited to be back!
        </span>

        <span class="update_content-copy">
            Thanks for the support over the years we would not have been able to be back without the support!
            We have some exicting&nbsp;

            <span>
                <a routerLink="/about-us" class="internal-link--blue">updates</a>
            </span>

            &nbsp;to share.
        </span>
    </div>
</div>