<div class="full-page">
    <div class="page-layout">

        <div class="page-column">

            <div class="copy-container">
                <span class="tag-content grow">
                    Compound it, you will get more than double
                </span>
                <span class="page-copy">
                    With Wavy you are not confined to exchanging your time for money.
                </span>
                <span class="page-copy">
                   Which, by the way is not a reliable or sustainable way to build wealth.
                </span>

                <span class="page-copy-emphasised">
                    Unless your money is working for you - 
                    
                    <span class="grow">
                      that is when it grows 24/7.
                    </span>
                    
   
                </span>
            </div>
            <div class="show-d-t"><app-download-box></app-download-box>
            
                    <!--links-->
                    <span class="content-container">
                        <span class="tag-content">
                            Join our community, we want to hear from you
                        </span>
    
                        <span class="community-row">
    <img src="../../../assets/social-icons/discord-v2 2.png" alt="discord button" class="social-icon">
    
    <span class="page-copy">
        Let’s chat directly on discord <span >
            <a href="https://discord.gg/jXWDZEyAbF" target="_blank" class="com-link grow"> &nbsp;Join our discord channel</a>
        </span>
    
        
    </span>
                        </span>
    
    
                        <span class="community-row">
                            <img src="../../../assets/social-icons/spotify-512 2.png" alt="discord button" class="social-icon">
                            
                            <span class="page-copy">
                                Our weekly podcast on 
                                personal finance <span >
                                    <a routerLink="/about-us" class="com-link grow"> &nbsp;Join our conversation</a>
                                </span>
                            
                                
                            </span>
                                                </span>
    
    
    
                    </span>
            
            </div>

        </div>

        <div class="screen-column">

            <app-mobile-screen></app-mobile-screen>
            <div class="show-m"><app-download-box></app-download-box>
            
                             <!--links-->
                             <span class="content-container">
                                <span class="tag-content">
                                    Join our community, we want to hear from you
                                </span>
            
                                <span class="community-row">
            <img src="../../../assets/social-icons/discord-v2 2.png" alt="discord button" class="social-icon">
            
            <span class="page-copy">
                Let’s chat directly on discord <span >
                    <a href="https://discord.gg/jXWDZEyAbF" target="_blank" class="com-link grow"> &nbsp;Join our discord channel</a>
                </span>
            
                
            </span>
                                </span>
            
            
                                <span class="community-row">
                                    <img src="../../../assets/social-icons/spotify-512 2.png" alt="discord button" class="social-icon">
                                    
                                    <span class="page-copy">
                                        Our weekly podcast on 
                                        personal finance <span >
                                            <a routerLink="/about-us" class="com-link grow"> &nbsp;Join our conversation</a>
                                        </span>
                                    
                                        
                                    </span>
                                                        </span>
            
            
            
                            </span>
            </div>
        </div>

    </div>
    
</div>
