<div class="screen-content-Container">

<div class="bb-row">
    <img src="../../../assets/icons/arrow.png" alt="" class="arrow-icon">

    <button class="small-label bb-button">
        Back
    </button>
</div>

    <div class="heading make">
        Your money plan
    </div>

    <div class="label-box">
        <span class="heading">
            Career as your main source of income:
        </span>

        <span class="default-label make underline">
            Pros and cons
        </span>
    </div>

    <span class="default-label black">
        You have set a goal to increase your main source of income by 12% in the next 12 months. Let’s examine the feasibility based your current main source of income.
    </span>

    <div class="makeCard">
        <span class="makeCard-row card-summary make">
            Our data shows that it is unsual for salaries in the marketing industry to go up by 12% within a year. Perhaps you may want to consider another focus for your money plan?
        </span>

        <span class="makeCard-row default-label make--underline">
            Consider additional source of income →

        </span>

     
    </div>

    <span class="card-summary">
        To generate a money plan for your based on your career we need a bit more information. Please select what is applicable:
    </span>

    <span class="check-row">

        <img src="../../../assets/icons/Checkbox.png" alt="" class="checkbox-icon">
        <span class=" content-section">
            Are you up for a promotion in the next 12 
months?
        </span>

    </span>

    <span class="check-row">

        <img src="../../../assets/icons/Checkbox.png" alt="" class="checkbox-icon">
        <span class=" content-section">
            In the years you have worked for Limited Pty 
            have there been annual increases in salary
            above 10%?
        </span>

    </span>

    <span class="check-row">

        <img src="../../../assets/icons/Checkbox_selected.png" alt="" class="checkbox-icon">
        <span class=" content-section">
            Are you open to changing your employer in the
next 12 months?
        </span>

    </span>

    <span class="button-row">
        <button class="money-plan-button">

            <span class="button-label--mp">
                Build your money plan
            </span>
            
        </button>
    </span>
</div>
