<div class="screen-content-Container">
    <div class="heading grow">
        Your money works for you
    </div>
<span class="heading black">
    With our help you have sucessfully managed to build investment portofolios that put your money to work towards your finanical goals.
</span>


<span class="investment-Card">

    <span class="internal-investmentCard">
        <span class=" default-label portfolio-row black">
            Total Investments:
            </span>
            <span class="portfolio-row--center card-fontLarge">
            $400 000.00
            </span>

            <span class="portfolio-row">
                <img src="../../../assets/icons/tick-round.svg" alt="" class="icon-round">
                <span class="small-label">Overall Risk profile : Low- medium risk</span>
            </span>

            <span class="portfolio-row">
                <span class="small-label">Overall average annual returns : 15%</span>
            </span>

            <span class="portfolio-row">
                <span class="small-label">
                    Future investment value in the next 10
years with your 

    monthly investment of $2500.00:  


                </span>
            </span>

            <span class="portfolio-row--center card-fontLarge">
                 $2 464 123.50
            </span>
            <span class="portfolio-row--end">
                <img src="../../../assets/icons/arrow_right_alt.png" alt="" class="icon-rightArrow">
            </span>
    </span>

  


</span>

<span class="portfolio-Card">

    <span class="portfolio-row">
        <span class="default-label neon">
            Retirement Portfolio
        </span>
    </span>
  
        <span class="portfolio-row--sb">

           
<img src="../../../assets/icons/arrow_upward.png" alt="" class="icon-round">

<span class="small-label white">
    This portfolio is up by 8%
</span>
          
            <img src="../../../assets/icons/arrow_right_alt-neon.png" alt="" class="icon-rightArrow">
        
    </span>
   
  
</span>

<span class="portfolio-Card">
    <span class="default-label neon">
        Wealth Portfolio
    </span>
</span>

    <span class="portfolio-row--sb">

       
<img src="../../../assets/icons/arrow_upward.png" alt="" class="icon-round">

<span class="small-label white">
    This portfolio is up by 21%
</span>
      
        <img src="../../../assets/icons/arrow_right_alt-neon.png" alt="" class="icon-rightArrow">
    
</span>

    
</span>
</div>
