<div class="full-page">
    <div class="page-layout">

        <div class="page-column">

            <div class="copy-container">
                <span class="tag-content keep">
                   Protect your money
                </span>
                <span class="page-copy">
                There are many ways to safeguard your money. 
                </span>
                <span class="page-copy">
               Saving it, protecting it against bad debt, having the right insurance policy in place, and let's not forget the importance of filing taxes correctly.
                </span>

                <span class="page-copy-emphasised">
                 It is important to not loose your money
                    
                    <span class="keep">
                       that is why Wavy makes sure you keep it.
                    </span>
                    
   
                </span>
            </div>

            <div class="show-d-t"><app-download-box></app-download-box>
            <!--links-->
                <span class="content-container">
                    <span class="tag-content">
                        Join our community, we want to hear from you
                    </span>

                    <span class="community-row">
<img src="../../../assets/social-icons/discord-v2 2.png" alt="discord button" class="social-icon">

<span class="page-copy">
    Let’s chat directly on discord <span >
        <a href="https://discord.gg/jXWDZEyAbF" target="_blank" class="com-link keep"> &nbsp;Join our discord channel</a>
    </span>

    
</span>
                    </span>


                    <span class="community-row">
                        <img src="../../../assets/social-icons/spotify-512 2.png" alt="discord button" class="social-icon">
                        
                        <span class="page-copy">
                            Our weekly podcast on 
                            personal finance <span >
                                <a routerLink="/about-us" class="com-link keep"> &nbsp;Join our conversation</a>
                            </span>
                        
                            
                        </span>
                                            </span>



                </span>
       

           
            
            
            </div>

        </div>

        <div class="screen-column">

            <app-mobile-screen></app-mobile-screen>
            <div class="show-m"><app-download-box></app-download-box>
            
                <!--links-->
                <span class="content-container">
                    <span class="tag-content">
                        Join our community, we want to hear from you
                    </span>

                    <span class="community-row">
<img src="../../../assets/social-icons/discord-v2 2.png" alt="discord button" class="social-icon">

<span class="page-copy">
    Let’s chat directly on discord <span >
        <a href="https://discord.gg/jXWDZEyAbF" target="_blank" class="com-link keep"> &nbsp;Join our discord channel</a>
    </span>

    
</span>
                    </span>


                    <span class="community-row">
                        <img src="../../../assets/social-icons/spotify-512 2.png" alt="discord button" class="social-icon">
                        
                        <span class="page-copy">
                            Our weekly podcast on 
                            personal finance <span >
                                <a routerLink="/about-us" class="com-link keep"> &nbsp;Join our conversation</a>
                            </span>
                        
                            
                        </span>
                                            </span>



                </span>
            </div>
        </div>

    </div>
    
</div>
