<div class="full-page">
    <div class="page-layout">
        <div class="page-column">

<span class="copy-container">
    <span class="tag-content">
        Kukura Capital now as 
        
        <a href="http://astute.money/" target="_blank" class="external-link">&nbsp;astute.money</a>
    </span>
    <span class="page-copy justify">
        For our long time users you may know us as Kukura Capital an award winning top personal finance blog and up and coming financial technology start-up, based in South Africa.
        Yes these are our roots,and we are still a personal finance platform that builds awesome tools to help you effectively make, keep and grow your money.
    </span>

    <span class="tag-content">
        Where are the blogs?
    </span>
    
    <span class="page-copy justify">
    
        We will be uploading new blogs and have more exciting content planned such as weekly podcast.
    
    We have also heard the request to hear and include your stories, and we will love to have you part of the dialogue.
    Soon we will have a feature that allows you to submit articles and voice notes etc.. so that you can be featured on the platform. To stay up to date with our new featues please join our discourd community 
    <span class="default">it is free!</span>

    
    
    </span>

    <span class="community-row">
        <img src="../../../assets/social-icons/discord-v2 2.png" alt="discord button" class="social-icon">
        
        <span class="page-copy">
            Let’s chat directly on discord <span >
                <a href="https://discord.gg/jXWDZEyAbF" target="_blank" class="com-link default"> &nbsp;Join our discord channel</a>
            </span>
        
            
        </span>
                            </span>

                            <span class="tag-content">
                                Who is this platform for?
                            </span>

                            <span class="page-copy">
                                We stay true to our mission which is to build product for a global community of people who are working towards financial freedom. 
                            </span>
</span>



        </div>

        <div class="screen-column">

        </div>
    </div>
</div>
