//blue [your money]
$primary-blue: #3E63D3;
$secondary-blue: #E2F1EC;


//make-money color set
$purple500: #A386DA;
$purple800: #625083;


//grow color set
$green800: #00330F;
$green200: #CFF850;

//keep color set 
$orange800: #FE6E04;
$orange200: #FFDAAF;


//crypto color set
$yellow: #EBD774;

//the neutrals
$nude: #F2F1DD;
$black: #000000;
$white: #ffffff;
$grey600: #303030;