@use "../../styles/general/breakpoints.scss" as b;

.page-layout{
    display: flex;
    flex-direction: row;
  justify-items: space-between;
  justify-content: space-between;
 margin: 0px;
    width:b.$desktop-box;
    background-color: orange;
    margin-top: 72px;
    margin-bottom: 72px;
   
}

.full-page{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.content-box{
    width: 568px;
    display: flex;
    //background-color: green;
}

.page-column{
    width:686px;
    display: flex;
}

.screen-column{
    width: 450px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: b.$tablet ) {
    .page-layout{
        flex-direction: column;
        width: 100%;
        align-items: center;
        align-content: center;
    }

    .screen-column{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


@media (max-width: b.$mobile ) {
    .page-layout{
        display: flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        align-content: center;
        //background-color: lime;
    }

    .screen-column{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}